
.ficha{
    display: grid; /* Usamos CSS Grid para organizar los elementos */
    
   
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        gap: 30px; /* Espacio entre los elementos */
        
        
       
    padding: 30px;
}
