/* Contenedor principal centrado */
.create-ambientes-container {
    width: 90%; /* Ancho máximo para el contenedor */
    max-width: 800px; /* Limita el tamaño máximo en pantallas grandes */
    margin: 0 auto; /* Centrar el contenedor en la página */
    height:550px;
  
    padding: 20px;
    
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Estilos para el título */
.create-ambientes-container h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

/* Botón en la parte superior */
.container-boton-buscar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Alinea los botones a los lados opuestos */
    align-items: center; /* Asegura que los botones estén centrados verticalmente */
}


/* Estilos de los botones */
.boton-buscar {
    height: 35px;
    width: 150px;
    background-color: #FFFFFF;
    color: #2F7A00;
    border: 1px solid #2F7A00;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton-buscar:hover {
    background-color: #2F7A00;
    color: #FFFFFF;
    transform: scale(1.05);
}

.boton-buscar:active {
    background-color: #265C00;
    transform: scale(0.98);
}

.linea {
    background-color: black;
}

.form-wrapper {
    margin-top: 20px; /* Añadir margen superior al formulario */
}

.listaususelected{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    display: inline-flex;
    margin-right: 10px;
}
.listausu {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    display: inline-flex;
    margin-right: 10px;
}

.divider {
    display: flex;
    color: white;
    width: 100%;
    margin: 10px auto;
    border: none;
    border-top: 2px solid #000000;
}
.CentrarTit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}