* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}


.Contabla {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

.table-container {
    width: 100%; 
    background-color: #ffffff; 
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    overflow-x: auto; 
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.tituloh2{
    padding-bottom: 25px;
}


table {
    width: 100%; 
    max-width: 100%; 
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead {
    background-color: #38A800;
    color: white;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}


table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #e9f5e9;
}


table th {
    background-color: #38A800;
    color: white;
}


@media screen and (max-width: 768px) {
    .table-container {
        padding: 10px;
    }

    table th, table td {
        padding: 8px;
        font-size: 14px; 
    }
}

@media screen and (max-width: 480px) {
    .table-container {
        padding: 5px;
    }

    table {
        display: block; 
        overflow-x: auto; 
        white-space: nowrap; 
    }

    table th, table td {
        padding: 6px;
        font-size: 12px; 
    }
}

.BuscarUsu {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-end;
    gap: 10px; 
}

.BuscarUsu .form-group {
    margin-bottom: 0;
    display: inline-flex; 
    align-items: end; 
}

.BuscarUsu input {
    width: auto; 
    max-width: 200px;
}
.Texto-verde{
    color: #007832;
}

.listaususelected{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    display: inline-flex;
    margin-right: 10px;
}
.listausu {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    display: inline-flex;
    margin-right: 10px;
}
.lista {
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Work Sans';
    font-size: 40px;
}
.icono {
    margin:5px;
    width: 32px;
    height: 32px;
}

.divider {
    display: flex;
    color: white;
    width: 100%;
    margin: 10px auto;
    border: none;
    border-top: 2px solid #000000;
}

.listaususelected, .listausu {
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 700; 
    text-decoration: none; 
}
.titulo {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #000000;
}


