* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}


.Contabla {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

.table-container {
    width: 100%; 
    background-color: #ffffff; 
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    overflow-x: auto; 
}

h2 {
    margin-bottom: 20px;
    color: #333;
}


table {
    width: 100%; 
    max-width: 100%; 
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead {
    background-color: #38A800;
    color: white;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}


table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #e9f5e9;
}


table th {
    background-color: #38A800;
    color: white;
}


@media screen and (max-width: 768px) {
    .table-container {
        padding: 10px;
    }

    table th, table td {
        padding: 8px;
        font-size: 14px; 
    }
}

@media screen and (max-width: 480px) {
    .table-container {
        padding: 5px;
    }

    table {
        display: block; 
        overflow-x: auto; 
        white-space: nowrap; 
    }

    table th, table td {
        padding: 6px;
        font-size: 12px; 
    }
}

.BuscarUsu{
    width: auto;
    display: flex;
    justify-content: end;
    align-items: end;
}
.Texto-verde{
    color: #007832;
}
